### Python ###
__pycache__/
*.py[cod]


### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

### Database ###
*.sqlite3
migrations/
db.sqlite3

### Static files ### (?)
AdvancedSoftwareDevelopment/webshop/static/admin/
# Byte-compiled / optimized / DLL files
.idea/

.vs/slnx.sqlite

*.sqlite
*.suo

.vs/VSWorkspaceState.json
