<!--- found in https://tutorial.djangogirls.org/en/template_extending/ -->

{% load staticfiles %}
<html>
    <head>
        <title>Sky is not the Limit</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/webshop.css' %}">
    </head>
    <body>
          <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href={% url 'index' %}>Sky is not the Limit</a>
                 </div>
                <ul class="nav navbar-nav">
                    <li><a href={% url 'index' %}>Home</a></li>
                    <li><a href={% url 'product-list' %}>Products</a></li>
                    <li><a href={% url 'cart' %}>Shopping cart</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
{#                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>#}
                    <li><a href={% url 'logout' %}><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>
            </div>
          </nav>

      <div class="content container">
          <div class="row">
              <div class="col-md-8">
              {% block content %}
              {% endblock %}
              </div>
          </div>
      </div>
  </body>
</html>
