{% extends 'base.html' %}

{% block content %}
<a href="/">Back to homepage</a>
<h1>Cart</h1>
{% if cart.count > 0 %}
    <table>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Total price</th>
        </tr>

        {% for item in cart %}
        <tr>
            <td>{{ item.product.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.total_price }}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>Your cart is empty.</p>
{% endif %}
{% endblock %}