{% extends 'base.html' %}
{% block content %}
    <h1>{{ object.name }}</h1>
        <p>Height: {{ object.height }} m</p>
        <p>Brand: {{ object.brand }}</p>
        <p>Country: {{ object.country }}</p>
        <p>Price: ${{ object.price }}</p>
        <p>Description: {{ object.description }}</p>

        <a class="btn btn-primary" href="{% url 'add_to_cart' object.productID %}">Add to cart</a>

        <hr/>

        <p><button class="btn btn-primary" onclick="location.href={% url 'product-list' %}">Back to product list</button></p>
 {% endblock %}