{% extends 'base.html' %}
{% block content %}
    <h2>Products:</h2>
    <form method="get" action="{% url 'product_search_list_view' %}" accept-charset="utf-8">
      <!-- <input class="searchfield" id="priceSearchbox" name="q" type="number" placeholder="Price">-->
      <input class="searchfield" id="searchbox" name="q" type="text" placeholder="Search">
      <button class="searchbutton" type="submit">
        <i class="fa fa-search"></i>
      </button>
    </form>

        {% for object in object_list %}

            <div class="card" style="width: 18rem; margin: 20px">
                <div class="card-body">
                    <h5 class="card-title">{{ object.name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">${{ object.price }}</h6>
                    <p class="card-text">{{ object.description }}</p>
                    <a class="card-link" href="{% url 'product-details' object.id %}">View</a>
                    <a class="card-link" href="{% url 'add_to_cart' object.id %}">Add to cart</a>
                </div>
            </div>


            {% empty %}
            <li>No articles yet.</li>
        {% endfor %}
 {% endblock %}