{% extends 'base.html' %}
{% block content %}
    <h2>Products</h2>

        {% for object in object_list %}

            <div class="card" style="width: 18rem; margin: 20px">
                <div class="card-body">
                    <h5 class="card-title">{{ object.name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">${{ object.price }}</h6>
                    <p class="card-text">{{ object.description }}</p>
                    <a class="card-link" href="{% url 'product-details' object.id %}">View</a>
                    <a class="card-link" href="{% url 'add_to_cart' object.id %}">Add to cart</a>
                </div>
            </div>


            {% empty %}
            <li>No articles yet.</li>
        {% endfor %}
 {% endblock %}