<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">    <meta charset="UTF-8">

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4 login-form">
<form method="post" action="{% url 'login' %}">
{% csrf_token %}
    <h1>Login</h1>
    <div class="form-group">
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
    </div>

    <div class="form-group">
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
    </div>

    <div class="form-group">
        <input class="btn btn-success btn-block" type="submit" value="Login"/>
        <input type="hidden" name="next" value="{{ next }}" />
    </div>

    <div class="form-group">
        <label>Don't have an account? </label>
        <a href="{% url 'webshop:signup' %}">Sign up</a>
    </div>
    </form>


        </div>
    </div>
</div>
