{% extends 'layouts/base.html' %}
{% load humanize %}

{% block content %}

<h2>Cart</h2>
{% if cart.count > 0 %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Unit price</th>
            <th>Discount</th>
            <th>Total price</th>
            <th>Remove</th>
        </tr>
    </thead>

    {% for item in cart %}
    <tr>
        <td>{{ item.product.name }}</td>
        <td>
            <a class="btn btn-primary" href="{% url 'webshop:increase_in_cart' item.object_id item.quantity %}"><i class="fas fa-plus"></i></a>
            {{ item.quantity }}
            <a class="btn btn-primary" href="{% url 'webshop:decrease_in_cart' item.object_id item.quantity %}"><i class="fas fa-minus"></i></a>
            <p>In stock: {{item.product.stock}}</p>
        </td>
        <td>${{ item.product.price|intcomma }}</td>
        <td>{{ item.product.discount }}</td>
        <td>${{ item.total_price|intcomma }}</td>
        <td><a class="btn btn-danger" href="{% url 'webshop:remove_from_cart' item.object_id %}"><i class="fas fa-trash-alt fa-xs"></i></a></td>
    </tr>
    {% endfor %}
</table>
<h4>Total price: ${{ cart.summary }}</h4>
<a class="btn btn-primary" href="{% url 'webshop:Buy' %}">Buy</a>
{% else %}
<p>Your cart is empty.</p>

{% endif %}
{% endblock %}
