{% extends 'layouts/base.html' %}
{% load humanize %}
{% block content %}

<h2>Products</h2>
<form method="get" action="{% url 'webshop:product_search_list_view' %}" accept-charset="utf-8">
    <input class="searchfield" id="searchbox" name="q" type="text" placeholder="Search">
    <input class="searchfield" id="minPrice" name="minprice" type="number" min="0" placeholder="Min Price">
    <input class="searchfield" id="maxPrice" name="maxprice" type="number" min="0" placeholder="Max Price">
    <button class="searchbutton" type="submit">
        <i class="fa fa-search"></i>
    </button>
</form>

  {% for product in product_list %}
    {% if forloop.first %}<div class="row">{% endif %}
      <div class="col-sm-6">
        <div class="card" style="width: 18rem; margin: 20px">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">${{ product.price|intcomma }}</h6>
                <p class="card-text">{{ product.description }}</p>
                {% if not product.discount == '-' %}
                <p class="card-text" style="color: darkred">Discount: {{ product.discount }}</p>
                {% endif %}
                <p class="card-text">{{ product.stock }} left</p>
                <a class="card-link" href="{% url 'webshop:product-details' product.id %}">View</a>
                <a class="card-link" href="{% url 'webshop:add_to_cart' product.id %}">Add to cart</a>
            </div>
        </div>
      </div>
      {% if forloop.counter|divisibleby:2 %}</div><div class="row">{% endif %}
      {% if forloop.last %}</div>{% endif %}



      {% empty %}
      <li>No products to show.</li>
  {% endfor %}
 {% endblock %}
